[submodule "stm32f2_api"]
	path = stm32f2_api
	url = git@github.com:Vadimatorik/stm32f2_api.git
[submodule "FreeRTOS_for_stm32f2"]
	
	path = FreeRTOS_for_stm32f2

	url = git@github.com:Vadimatorik/FreeRTOS_for_stm32f2.git
[submodule "mono_lcd_lib"]
	path = mono_lcd_lib
	url = https://github.com/Vadimatorik/mono_lcd_lib
[submodule "mini_gui_by_vadimatorik"]
	path = mini_gui_by_vadimatorik
	url = git@github.com:Vadimatorik/mini_gui_by_vadimatorik.git
[submodule "simple_mono_drawing_lib"]
	path = simple_mono_drawing_lib
	url = git@github.com:Vadimatorik/simple_mono_drawing_lib.git
[submodule "micro_sd_driver_by_vadimatorik"]
	path = micro_sd_driver_by_vadimatorik
	url = git@github.com:Vadimatorik/micro_sd_driver_by_vadimatorik.git
[submodule "module_shift_register"]
	path = module_shift_register
	url = git@github.com:Vadimatorik/module_shift_register.git
