/Debug/
/build/
*.cproject
*.project
*.config
*.creator
*.files
*.includes
*.creator.user
.settings/
.o
nbproject/
*.png
*.aux
*.log
*.out
*.synctex.gz
*.toc
*.pdf
doc/software_design_documents/html/
/fsm_build/
build-plantuml_to_fsm_tree_generator-Desktop-Debug/
plantuml_to_fsm_tree_generator
*.autosave
/*/*/Altium/History
/*/*/Altium/__Previews