[submodule "module_shift_register"]
	path = module_shift_register
	url = git@github.com:Vadimatorik/module_shift_register.git
[submodule "module_fatfs_by_chan"]
	path = module_fatfs_by_chan
	url = git@github.com:Vadimatorik/module_fatfs_by_chan.git
[submodule "module_digital_potentiometer"]
	path = module_digital_potentiometer
	url = git@github.com:Vadimatorik/module_digital_potentiometer.git
[submodule "module_chiptune"]
	path = module_chiptune
	url = git@github.com:Vadimatorik/module_chiptune.git
[submodule "module_button"]
	path = module_button
	url = git@github.com:Vadimatorik/module_button.git
[submodule "module_mc_hardware_interfaces"]
	path = module_mc_hardware_interfaces
	url = git@github.com:Vadimatorik/module_mc_hardware_interfaces.git
[submodule "module_microsd_low_level_driver"]
	path = module_microsd_low_level_driver
	url = git@github.com:Vadimatorik/module_microsd_low_level_driver.git
[submodule "module_makise_gui"]
	path = module_makise_gui
	url = git@github.com:Vadimatorik/module_makise_gui.git
[submodule "ayplayer_board"]
	path = ayplayer_board
	url = git@github.com:Vadimatorik/ayplayer_board.git
[submodule "module_fat_fs_by_chan"]
	path = module_fat_fs_by_chan
	url = git@github.com:Vadimatorik/module_fat_fs_by_chan.git
[submodule "module_math"]
	path = module_math
	url = git@github.com:Vadimatorik/module_math.git
[submodule "module_freertos_for_stm32f2"]
	path = module_freertos_for_stm32f2
	url = git@github.com:Vadimatorik/module_freertos_for_stm32f2.git
[submodule "module_mono_lcd_lib"]
	path = module_mono_lcd_lib
	url = git@github.com:Vadimatorik/module_mono_lcd_lib.git
[submodule "module_fsm"]
	path = module_fsm
	url = git@github.com:Vadimatorik/module_fsm.git
[submodule "module_system_dummy"]
	path = module_system_dummy
	url = git@github.com:Vadimatorik/module_system_dummy.git
